.searchbar{
    @apply justify-center align-middle ;
    display:flex;
    margin-right:5rem;
    margin-left:5rem;
    height:100%;
    width:30%;
  
}

.searchButtonContainer{
    @apply flex justify-center;
}

.searchButton{
    @apply bg-rose-500 px-1 mx-2 hover:bg-orange-500 rounded-sm;
}

